.interview
  .container
    .interview__list
      .interview__item
        p.interview__item-question Почему вы решили организовать интенсив?
        p.interview__item-answer
          | — ”За время моей работы я взаимодействовала с дизайнерами разной квалификации.
          | Могу с уверенностью сказать, что независимо от опыта, большинство дизайнеров совершают типичные ошибки.
          | Не учитывая, например, правила эргономики при расстановке мебели или особенности светодизайна, сложно получить жизнеспособный интерьер.
          | Я сама когда-то допускала подобные ошибки, поэтому хочу поделиться готовыми решениями.
          | Я за эстетичные и функциональные интерьеры, которые будут радовать клиентов и украшать портфолио.”
      .interview__item
        p.interview__item-question В чем уникальность этих лекций?
        p.interview__item-answer
          | — ”В самом материале. То, чем я планирую делиться во время лекций,
          | я обычно рассказываю только дизайнерам Studia 54. Нашу уникальную стилистику узнают по всему миру, ею вдохновляются, но повторить не удаётся никому.
          | Мы впервые приоткрываем завесу тайны и делимся особенностями нашей стилистики с кем-то, кроме нашей команды.
          | Если среди слушателей окажутся те, кто будет способен воплотить наше видение в жизнь, мы пригласим их в команду Studia 54.”
      .interview__item
        p.interview__item-question Планируете ли вы проводить такие мероприятия на регулярной основе?
        p.interview__item-answer
          | — ”В первую очередь, я — дизайнер, мне важно полностью погружаться в свои проекты.
          | Подготовка качественных лекций действительно требует много времени, я на собственном опыте в этом убедилась.
          | Так что, на данный момент — это единственная возможность принять участие.
          | Сложно сказать, когда будет следующий интенсив, поэтому советую не упускать возможность и записываться уже сейчас.”
      .interview__item
        p.interview__item-question Какие вы видите преимущества работы в Studia 54 перед фрилансом?
        p.interview__item-answer
          | — ”Studia 54 — это международные проекты с большими бюджетами, профессиональный рост и взаимодействие
          | с опытными коллегами. Нашим дизайнерам не нужно самим искать заказчиков,
          | заниматься договорами и сметами. Работая у нас, вы полностью погружаетесь в дизайн и творчество,
          | а другими вопросами занимается наша профессиональная команда:
          | отдел продаж, проектные менеджеры, визуализаторы и многие другие.”
      .show__content.md-hidden
        .show__content-button +
    .interview__photo
      picture
        img(src="./img/olga3.jpg", alt="speaker", width="100%", height="100%")
