.first-screen
  .ring
    svg.ring__inner(width="809" height="809" viewBox="0 0 809 809" fill="none" xmlns="http://www.w3.org/2000/svg")
      circle(cx="404.5" cy="404.5" r="339" stroke="#6868AC" stroke-opacity="0.7" stroke-width="131")
  .container
    .content
      h1.title
        | Интенсив
        span.md-hidden  для
        span.md-visible для практикующих
        span.md-hidden  практикующих
        |  дизайнеров
      p.subtitle От руководителя Studia 54 Ольги Ивановой
      svg.first__circle(width="809" height="809" viewBox="0 0 809 809" fill="none" xmlns="http://www.w3.org/2000/svg")
        circle(cx="404.5" cy="404.5" r="339" stroke="#6868AC" stroke-opacity="0.7" stroke-width="131")
    .first__pic
      picture
        img(src="./img/olga1.png")
