.quote
  .container
    h2.quote__title.title.bordered
      span.gold Быть дизайнером
      |  — значит постоянно оттачивать своё мастерство и накапливать знания
    p.quote__text
      | Даже опытные представители этой профессии часто совершают ошибки, сами того не зная.
      | В результате получаются непригодные для жизни интерьеры — без понимания своих недочётов сложно расти и повышать профессионализм.
      br
      | Интенсив от Ольги Ивановой направлен на проработку типичных ошибок дизайнеров и погружение в детали проектирования жилых помещений - от планировки до светодизайна.
      br
      | По окончании интенсива все слушатели получат сертификат участника, а самым лучшим будет предложено присоединиться к команде 
      a.gold(href="https://www.studia-54.com/", target="_blank") Studia 54.
