.mobile-menu.md-hidden
  button.more-button(aria-label="Menu Button")
    .menu-icon-wrapper
      .menu-icon-line.half.first
      .menu-icon-line
      .menu-icon-line.half.last
  ul.more-button-list
    a.more-button-list-item(href="#shedule")
      span ПРОГРАММА
    a.more-button-list-item(href="#speaker")
      span О СПИКЕРЕ
