//- .ring2
//-   svg.ring2__inner(width="809" height="809" viewBox="0 0 809 809" fill="none" xmlns="http://www.w3.org/2000/svg")
//-     circle(cx="404.5" cy="404.5" r="339" stroke="#6868AC" stroke-opacity="0.31" stroke-width="131")