:root {
	--white   : #fff;
	--grey    : #171717;
	--black   : #0E0E0E;
	--gold    : #CBA37C;
	--light   : 300;
	--regular : 400;
	--medium  : 500;
}

$font       : "Montserrat", sans-serif;
$font_title : "Verdana", sans-serif;

$xl         : 1920px;
$lg         : 1310px;
$md         : 768px;
