ul.menu {
  display: flex;
  column-gap: 60px;

  & li.menu__item {
    & a.menu__link {
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      position: relative;
      cursor: pointer;

      @media (min-width: $md) {
        font-size: 16px;
        line-height: 20px;
      }

      &::before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: auto;
        width: 33%;
        height: 2px;
        transform: scaleX(0);
        background-color: var(--gold);
        transition: transform 0.3s;
      }

      &:hover {
        &:before {
          transform: scaleX(1);
        }
      }
    }
  }
}
