doctype html
html(lang="en")
  include pug/blocks/head
  body
    .wrapper
      include pug/blocks/1header
      include pug/blocks/2first
      include pug/blocks/3quote
      include pug/blocks/4details
      include pug/blocks/5expectations
      include pug/blocks/6group
      include pug/blocks/7shedule
      include pug/blocks/8gallery
      include pug/blocks/9speaker
      include pug/blocks/10interview
      .overflow
        include pug/blocks/11q&a
        include pug/blocks/12price
        include pug/blocks/13contacts
        include pug/blocks/14registration
        include pug/blocks/15footer
        include pug/blocks/backdrop
        include pug/blocks/success
